<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <body class="homeBody">
        <nav>
            <%- include('./partials/nav.ejs') %>
        </nav>
        <div class="homeDiv">


            <p><button onclick='window.location.href="/home/index"'' class="">View All Users</button></p>
        </div>
    </body>
</html>
